<div fxLayout="row">
  <div fxFlex="66%" style="background-color: orange;">
    <p>
      Find the Material Icon List <a href="https://material.io/icons/" target="_blank">here</a>.
    </p>
    <p>
      Run the following command to pull the Docker image:
      <code>docker pull duluca/angular4-material2-starter</code>
    </p>
  </div>
  <div fxFlex="34%" style="background-color: lightgray;">
    <p>
      Learn about Angular Flex Layout <a href="https://github.com/angular/flex-layout/wiki" target="_blank">here</a>.
    </p>
  </div>
</div>
